.container
  .row
    .col-xs-12.col-md-8
      .panel.panel-primary
        .panel-heading
          %h3
            Public Chat
            %a.btn.btn-success.pull-right{:href=>"/logout"} Log Out
        .panel-body  
          #chat.box
        .panel-footer
          %input#text.large{:placeholder=>"Write and Enter"}
    .col-xs-12.col-md-4
      .panel.panel-primary
        .panel-heading
          %h3 Usuarios Conectados
        .panel-body
          #user